:root {
	--bg-main: #222;
	--fg-main: #eee;
	--bg-subheader: #282828;
	--fg-subheader: #444;
	--cl-subheader: #888;
	--bg-header: var(--bg-main);
	--fg-header: var(--fg-main);

	/* --bg-primary: #191919;
	--bg-secondary: #132326;
	--fg-primary: #eee; */
	--fg-secondary: #21B1CD;
	/* --fg-tertiary: #1d3c42; */
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg-main);
	color: var(--fg-main);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	padding: 14px;
	display: flex;
	border-bottom: var(--fg-secondary) 1px solid;
	background-color: var(--bg-header);
}

.header img {
	width: 24px;
}

.header div {
	display: flex;
	margin: auto 12px;
}

.header div a {
	color: var(--fg-header);
	text-decoration: none;
	font-family: 'Univers 57 Condensed', sans-serif;
	font-variant: all-small-caps;
	font-size: 18px;
	padding: 0 4px;
	position: relative;
}

.header div a[href]:hover {
	color: #888;
}

.header div a:not(a[href])::after {
	content: '';
	position: absolute;
	left: 4px;
	right: 4px;
	height: 1px;
	background: var(--fg-secondary);
	bottom: 1px;
}


div#contact {
	display: flex;
	justify-content: center;
	margin: auto 0 30px 0;
}

div#contact a {
	margin: 0 5px;
	padding: 0 10px;
	opacity: 1;
}

div#contact img { width: 18px }
div#contact a:hover { opacity: 0.7 }