.icon-brand {
  border-radius: 5px;
  padding: 0 10px 0 0;
}
.bg-semidark {
  background: var(--bs-gray-dark);
}

.img-bkg {
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.main-body {
  max-width: 800px;
  background: #1d1f22 !important;
  padding: 10px 0;
}
